.navbar {
    background-color: #007bff;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.navContent {
    align-items: center;
    display: flex;
    height: 40px;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.navTitle {
    font-size: 1.5rem;
}